.admin {
  color: rgb(205, 0, 0);
  font-weight: bolder;
}
.user {
  font-size: 0.7rem;
}
.user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}
.user-message div {
  background-color: rgb(205, 0, 0);
  color: white;
}
.message-wrap {
  max-width: 50%;
}
.message {
  font-size: 1.15rem;
  background-color: rgb(222, 222, 222);
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
  font-family: Helvetica, sans-serif;
}
img[alt="cover"] {
  width: 50px;
  margin: 0 5px;
  clip-path: circle();
}
.label {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(213, 213, 213);
}
.chat-content-wrap {
  height: 100%;
  display: grid;
  grid-template-rows: 7% 84% 9%;
}
.messages-wrap {
  overflow-y: scroll;
}
#text-input {
  box-shadow: red !important;
  outline: red !important;
}
.members-count{
  font-size: 1.1rem;
  padding: 5px 15px;
  margin-left: auto;
}
.channel-name{
  padding: 5px 10px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}
