<div class="chat-content-wrap container-fluid p-0 w-100" *ngIf="channel">
  <div class="label">
    <img [src]="channel?.coverUrl" alt="cover" />
    <span class="channel-name">{{ channel?.name }}</span>
    <div class="dropdown">
      <a
        class="nav-link"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><span></span><span></span><span></span
        ></a>
      <ul class="dropdown-menu dropdown-menu-sm-start dropdown-menu-sm-end">
        <li class="dropdown-item" (click)="leaveChat(channel)">Leave chat</li>
        <li class="dropdown-item">Add a friend</li>
      </ul>
    </div>
    <span class="members-count">{{ channel?.memberCount }}/100</span>
  </div>
  <div
    class="container-fluid messages-wrap d-flex flex-column-reverse p-3"
    appChatRoomRendering [channel]="channel"
  >
    
  <app-chat-room-message *ngFor="let message of getMessages(); trackBy: trackById" [channel]="channel" [message]="message"></app-chat-room-message>

  </div>
  <div class="input-group p-3 msg-form">
    <form
      #sendForm="ngForm"
      class="w-100 d-flex"
      (ngSubmit)="handleSendForm(sendForm)"
    >
      <input
        type="text"
        class="form-control"
        name="message"
        id="text-input"
        required
        ngModel
      />
      <button type="submit" class="btn btn-outline-secondary">Send</button>
    </form>
  </div>
</div>
