img[alt="cover"] {
  width: 50px;
  margin: 0 5px;
  clip-path: circle();
}

.label {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(213, 213, 213);
  position: relative;
}

.chat-content-wrap {
  height: 100%;
  display: grid;
  grid-template-rows: 7% 1fr 9%;
  scroll-behavior: smooth;
}

.messages-wrap {
  height: 100%;
  overflow-y: scroll;
}

#text-input {
  box-shadow: red !important;
  outline: red !important;
}

.members-count {
  font-size: 1.1rem;
  padding: 5px 15px;
  margin-left: auto;
}

.channel-name {
  padding: 5px 10px;
}

.dropdown {
  margin: 5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.dropdown .nav-link span::after {
  content: "";
  display: block;
  margin: 2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #39383a;
}

.dropdown-item:active {
  background-color: rgb(183, 62, 62);
}

.scroll-down {
  width: 30px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.chat-content-wrap:has([appChatRoomRendering]:not(.scrolled)) .scroll-down {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

