<div class="_container">
    <div class="box">
        <div class="form-box">
            <p class="alert alert-danger text-center" *ngIf="connectionError">{{ connectionError }}</p>
            <form #form="ngForm">
                <div class="form__group field">
                    <input class="form__field" type="text" name="userid" id="useid" placeholder="userid"
                        required ngModel #userid>
                    <label class="form__label" for="userid">UserID</label>
                </div>
                <div class="form__group field">
                    <input class="form__field" type="password" name="password" id="password"
                        placeholder="Password" required ngModel #token>
                    <label class="form__label" for="password">Access Token</label>
                </div>
                <button class="btn btn-success my-4" type="button" (click)="login(userid.value, token.value)">{{ authType | uppercase }}</button>
            </form>
        </div>
    </div>
</div>