<div class="container-fluid bg-body w-100 h-100">
  <div class="left p-3 w-100" style="overflow-y: scroll">
    <div class="chat-group-list">
      <app-chat-room-list></app-chat-room-list>
    </div>
    <div class="chat-buttons">
      <!-- Button trigger modal -->
      <div
        class="container-fluid d-flex justify-content-center w-100"
      >
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
          Open modal
        </button>
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Chat name -->
              <div class="modal-header">
                <input type="text" class="input-group input-group-text" placeholder="Choose group chat name">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <!-- Adding users -->
              <div class="modal-body">
                <div class="d-flex">
                  <input type="text" class="input-group input-group-text" placeholder="User IDs" #userId>
                  <button type="button" class="btn fs-4 px-1 py-0" (click)="addUserToGroup(userId)">+</button>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let userId of groupUsersAdded">{{ userId }}</li>
                </ul>
              </div>

              <!-- Confirm button -->
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Create chat</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right w-100">
    <router-outlet></router-outlet>
  </div>
</div>
