.chat-component {
  width: 100%;
  height: 100%;
}
.chat-component>.container-fluid {
  display: grid;
  grid-template-columns: minmax(270px, 320px) 1fr;
}
.chat-component :is(.left, .right) {
  background-color: rgb(246, 246, 246);
}
.channel {
  display: flex;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.048);
  padding: 8px;
  line-height: 1.25;
  height: 60px;
  user-select: none;
  cursor: pointer;
}
.channel:hover {
  background-color: rgba(0, 0, 0, 0.067);
}
.channel span {
  /* font-size: clamp(0.7rem, 0.8vw, 2rem); */
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div:has(.title){
  overflow: hidden;
}

.channel .last-message {
  font-size: 0.9rem;
}

img[alt='cover'] {
  width: clamp(40px, 15%, 90px);
  margin: 0 5px;
  clip-path: circle();
}