:host {
  width: 100%;
  height: 100%;
}

:host>.container-fluid {
  display: grid;
  grid-template-columns: minmax(270px, 320px) 1fr;
  padding: 0;
}

.left, .right {
  background-color: rgb(246, 246, 246);
  height: 100%;
  overflow: hidden;
}

.chat-buttons button.btn.w-100 {
  background-color: transparent;
  border-color: black;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}