<div class="form-box">
  <div [hidden]="(submitted && !(signupError | async))">
    <p
      class="alert alert-danger text-center"
      *ngIf="signupError | async as error"
    >
      {{ error }}
    </p>
    <p
      class="alert alert-success text-center"
      *ngIf="signupSuccess | async as success"
    >
      {{ success }}
    </p>
    <form #form="ngForm" class="form-check" (ngSubmit)="onSignup(form)">
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          name="email"
          id="email"
          placeholder="email"
          required
          ngModel
        />
        <label class="form__label" for="email">Email</label>
      </div>
      <div class="form__group field">
        <input
          class="form__field"
          type="text"
          name="username"
          id="username"
          placeholder="username"
          required
          ngModel
        />
        <label class="form__label" for="username">Username</label>
      </div>
      <div class="form__group field">
        <input
          class="form__field"
          type="password"
          name="password"
          id="password"
          placeholder="password"
          required
          ngModel
        />
        <label class="form__label" for="password">Password</label>
      </div>
      <div class="form__group field">
        <input
          class="form__field"
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="password"
          required
          ngModel
        />
        <label class="form__label" for="confirm_password">Confirm password</label>
      </div>
      <button
        class="btn btn-outline-danger my-4"
        type="submit"
        [disabled]="form.invalid"
      >
        Signup
      </button>
    </form>
  </div>
  <app-auth-loading-spinner [hidden]="!(submitted && !(signupError | async))"></app-auth-loading-spinner>
</div>
