img[alt="cover"] {
  width: clamp(40px, 15%, 90px);
  margin: 0 10px;
  clip-path: circle();
}

.channel {
  display: flex;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.048);
  padding: 8px;
  line-height: 1.25;
  height: 60px;
  user-select: none;
  cursor: pointer;
}

.channel:hover {
  background-color: rgba(0, 0, 0, 0.067);
}

.channel span {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div:has(.title) {
  overflow: hidden;
}

.channel .last-message {
  font-size: 0.9rem;
}

p {
  text-align: center;
  padding: 5px;
}

.channel.active {
  background-color: rgba(0, 0, 0, 0.15);
}
