<div
    [ngClass]="{
    'message-wrap mb-1': true,
    admin: message?.messageType == 'admin',
    'user-message': message?.sender?.userId == getUserId()
    }"
>
    <p class="user m-0 px-2">{{ message?.sender?.nickname ?? "=ADMIN=" }}</p>
    <div class="message-text-wrap d-flex">
    <div class="message">{{ message?.message }}</div>
    <div class="dropdown" *ngIf="message?.sender?.userId == getUserId()">
        <a
        class="nav-link"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><span></span><span></span><span></span
        ></a>
        <ul class="dropdown-menu dropdown-menu-sm-start dropdown-menu-sm-end">
        <li class="dropdown-item" (click)="onMessageDelete(channel, message)">Delete</li>
        <li class="dropdown-item">Answer</li>
        </ul>
    </div>
    </div>
</div>