@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600&display=swap');

.content-box {
    width: 100%;
    text-align: center;
}
h3 { 
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    margin: 18px 0;
    font-weight: 600;
    color: #4f4f4f
}
h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    margin: 12px 0;
    font-weight: 400;
    color: #4f4f4f
}
.btn-code {
    width: 275px;
    height: 50px;
    text-align: center;
    font-weight: 200;
    background-color: transparent;
    border-radius: 12px;
    transition: .2s;
}
.btn-code:hover {
    transform: scale(1.1);
    transition: .2s;
}